body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hidden {
    display: none;
}

#login-form, #register-form {
    text-align: center;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

#login-form input, #register-form input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

#login-form button, #register-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#login-form button:hover, #register-form button:hover {
    background-color: #0056b3;
}

header {
    background-color: #000;
    color: #FFD700;
    padding: 1em;
    text-align: center;
    width: 100%;
}

.logo {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #FFD700;
    text-decoration: none;
}

main {
    padding: 1em;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: #FFD700;
}

section {
    margin: 1em 0;
    padding: 1em;
    background-color: #333;
    border-radius: 10px;
}

button {
    padding: 0.5em 1em;
    background-color: #008000; /* Verde */
    color: #FFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005600;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #000;
    color: #FFD700;
}

#scratch-card {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

#result {
    text-align: center;
    margin-top: 20px;
}

#scratch-area {
    position: relative;
    display: inline-block;
}

#scratchCanvas {
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    cursor: pointer;
}

#quiz-container {
    text-align: center;
    margin-top: 20px;
}

#quiz-options button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#quiz-options button:hover {
    background-color: #0056b3;
}
